<?xml version="1.0"?>
<launch>

  <arg name="prefix" default="ur5_arm_" />
  <arg name="robot_ip" default="192.168.1.50"/>
  <arg name="min_payload"  default="0.0"/>
  <arg name="max_payload"  default="5.0"/>
  <arg name="max_velocity" default="10.0"/> 
  <arg name="servoj_time" default="0.008" />
  <arg name="base_frame" default="$(arg prefix)base_link" />
  <arg name="tool_frame" default="$(arg prefix)tool0_controller" />

  <include file="$(find bulldog_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <group ns="ur5">
    <node name="ur_driver" pkg="ur_modern_driver" type="ur_driver" output="screen">
      <param name="prefix" type="str" value="$(arg prefix)" />
      <param name="robot_ip_address" type="str" value="$(arg robot_ip)" />
      <param name="min_payload" type="double" value="$(arg min_payload)" />
      <param name="max_payload" type="double" value="$(arg max_payload)" />
      <param name="max_velocity" type="double" value="$(arg max_velocity)" />
      <param name="servoj_time" type="double" value="$(arg servoj_time)" />
      <param name="base_frame" type="str" value="$(arg base_frame)"/>
      <param name="tool_frame" type="str" value="$(arg tool_frame)"/>
    </node>
  </group>

  <!--node pkg="robotiq_85_driver" type="robotiq_85_driver" name="robotiq_85_driver" respawn="true" output="screen">
      <param name="num_grippers" value="1" />
      <param name="comport" value="/dev/ttyUSB0" />
      <param name="baud" value="115200" />
  </node-->


  <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="use_gui" value="false"/> 
    <param name="rate" value="50"/>
    <rosparam param="source_list">[/ur5/joint_states, /gripper/joint_states]</rosparam>
  </node-->

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <include file="$(find bulldog_moveit_config)/launch/move_group.launch" />

  <!--include file="$(find bulldog_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include-->

</launch>
