<?xml version="1.0"?>
<launch>
    
    <arg name="camera" value="realsense_f200_rgb" />
    <arg name="calib_file_dir" value="$(find kw_vision)/data/calib/" /> 
    <arg name="im_topic" value="realsense_f200/rgb/image_raw"/> 
    <arg name="base_link" value="base_link" />
	<arg name="hand_link" value="arm_link_5" />

    <include file="$(find kw_eye_in_hand_calibration)/launch/capture_pics_tfs.launch">
        <arg name="calib_file_dir" value="$(arg calib_file_dir)" />
		<arg name="im_topic"  value="$(arg im_topic)" />
		<arg name="base_link"  value="$(arg base_link)" />
		<arg name="hand_link" value="$(arg hand_link)" />
    </include>

</launch>
