<launch>
    <!-- Start nodelet manager in top-level namespace -->
    <arg name="module" default="kw_vision" />
    <arg name="camera" default="realsense_f200" />
    <arg name="manager" value="$(arg module)_nodelet_manager" />
    <arg name="debug" default="false" /> <!-- Run manager in GDB? -->
    <arg if="$(arg debug)" name="launch_prefix" value="xterm -e gdb --args" />
    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg name="respawn" default="false" />
    <arg     if="$(arg respawn)" name="bond" value="" />
    <arg unless="$(arg respawn)" name="bond" value="--no-bond" />
    <arg name="num_worker_threads" default="8" />

    <group ns="$(arg module)" >
        <include file="$(find kw_vision)/launch/include/manager.launch.xml">
            <arg name="name"                value="$(arg manager)" />
            <arg name="debug"               value="$(arg debug)" />
            <arg name="num_worker_threads"  value="$(arg num_worker_threads)" />
        </include>

        <!--Run a test nodelet -->
        <!-- Downsample to save compute power. Write here test useness. -->
        <node pkg="nodelet" type="nodelet" name="voxelgrid_downsampler" args="load pcl/VoxelGrid $(arg manager) $(arg bond)" respawn="$(arg respawn)">
            <remap from="~input" to="/$(arg camera)/depth_registered/points" />
        </node>

        <!-- Remove outlier points in the scene. Write here test useness. -->
        <node pkg="nodelet" type="nodelet" name="statistical_removal" args="load pcl/StatisticalOutlierRemoval $(arg manager) $(arg bond)" respawn="$(arg respawn)">
            <remap from="~input" to="voxelgrid_downsampler/output" />
        </node>
    </group>
</launch>
