<launch>
    <arg name="module" default="kw_vision" />
    <arg name="camera" default="realsense_f200" />
    <arg name="debug" default="false" /> 
    <arg if="$(arg debug)" name="launch_prefix" value="gnome-terminal -x gdb --args" />
    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg name="respawn" default="false" />
    <arg     if="$(arg respawn)" name="bond" value="" />
    <arg unless="$(arg respawn)" name="bond" value="--no-bond" />
    <group ns="$(arg module)" >
        <node pkg="kw_vision" type="pc_global_trainer" name="pc_global_trainer"  respawn="$(arg respawn)" output="screen" launch-prefix="$(arg launch_prefix)">
            <param name="training_input_dir" value="$(find kw_vision)/data/training_input/" />
            <param name="trained_data_dir" value="$(find kw_vision)/data/trained_data" />
        </node>
    </group>
</launch>
