<launch>
 <include file="$(find ik_config)/launch/planning_context.launch">
  <arg name="load_robot_description" value="true"/>
 </include>

 <node name="ik_node" pkg="ik" type="ik_node" respawn="false" output="screen">
   <rosparam command="load" file="$(find ik_config)/config/kinematics.yaml"/>
 </node>

</launch>
