<?xml version="1.0"?>
<launch>
 
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find ur_description)/urdf/ur5_gripper_robot.urdf.xacro'" />
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="rate" value="50"/>
    <param name="use_gui" value="false"/>
    <rosparam param="source_list">[/arm/joint_states]</rosparam>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find urdf_tutorial)/urdf.rviz" />
</launch>
